<app-header title="Products" subtitle="Add products" button="logout"></app-header>

<div class="container">
    <div class="row" style="border-bottom: 2px solid #e5e5e5;">
        <div class="col-sm-12">Add new product</div>
    </div>
</div>
<!-- row 1 -->
<div class="container">
    <div class="row" style="margin-top: 10px;">
        <div class="col-3">Product Name</div>
        <div class="col-5">
            <input class="form-control" type="text">
        </div>
    </div>
</div>

<!-- row 2 -->
<div class="container">
    <div class="row" style="margin-top: 10px;">
        <div class="col-3">Unit Price</div>
        <div class="col-5">
            <input class="form-control" type="text">
        </div>
    </div>
</div>

<!-- row 3 -->
<div class="container">
    <div class="row" style="margin-top: 10px;">
        <div class="col-3">Units in Stock</div>
        <div class="col-5">
            <input class="form-control" type="text">
        </div>
    </div>
</div>

<!-- row 4 -->
<div class="container">
    <div class="row" style="margin-top: 10px;">
        <div class="col-3">Description</div>
        <div class="col-5">
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
    </div>
</div>

<!-- row 5 -->
<div class="container">
    <div class="row" style="margin-top: 10px;">
        <div class="col-3">Manufacturer</div>
        <div class="col-5">
            <input class="form-control" type="text">
        </div>
    </div>
</div>

<!-- row 6 -->
<div class="container">
    <div class="row" style="margin-top: 10px;">
        <div class="col-3">Category</div>
        <div class="col-5">
            <input class="form-control" type="text">
        </div>
    </div>
</div>

<!-- row 7 -->
<div class="container">
    <div class="row" style="margin-top: 10px;">
        <div class="col-3">Condition</div>
        <div class="col-5">
            <div class="form-check">
                <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1" checked>
                <label class="form-check-label" for="gridRadios1">
                    New
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
                <label class="form-check-label" for="gridRadios2">
                    Old
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios3" value="option3">
                <label class="form-check-label" for="gridRadios3">
                    Refurbished
                </label>
            </div>
        </div>
    </div>
</div>

<!-- row 7 -->
<div class="container">
    <div class="row" style="margin-top: 10px;">
        <div class="col-3">Product Image File</div>
        <div class="col-5">
            <input type="file" class="form-control-file" id="exampleFormControlFile1">
        </div>
    </div>
</div>