<div class="card">
  <img src="../../assets/images/iPhone-11-5.jpg" class="card-img-top" alt="..." />
  <div class="card-body">
    <h5 class="card-title">Iphone 11</h5>
    <p class="card-text">
      600$
    </p>
    <p class="card-text">
      500 units in stock
    </p>
    <div class="gr-btn-product">
      <a href="#" class="btn btn-primary"><i class="fas fa-info-circle"></i> Details</a>
      <a href="#" class="btn btn-primary"><i class="fas fa-shopping-cart"></i> Order</a>
    </div>
  </div>
</div>
